nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4C5ADC;
    color: #fff;
    padding: 1rem;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin-right: 1rem;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    color: #ccc;
}
nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    width: 14vw ;
    height: 2.5vh;
}

.add {
    position : absolute;
    /* width: 14vw ; */
    /* height: 2vh; */
    left : 83%;
    right: 17%;
    
}

.profile {
    position : absolute;
    width: 2.5vw ;
    height: 2.5vh;
    left : 93.61%;
    font-size: medium;
    right: 4.44%;
}
.logbtn-logout{
    margin-left:62vw;
}

.logbtn-login{
    margin-left:78vw;
}
.rightbtns{
    align-items: center;
    display: flex;;
}
.addbtn
{
    width:20vw;
    display: flex;
    align-items: center;
}
.plus{
    width: 2vw;
    height: 3vh;

}
.addtxt{
    margin-left: 12px;
    color:black;
    font-size: medium;
    cursor: pointer;
}
